.item__detail {
    margin: 0 auto;
    padding: 30px 0;
    container-type: inline-size;
    max-width: 1230px;
    display: flex;          /* ← 横並びにする */
    gap: 40px;              /* ← 画像と詳細の間の余白（任意） */
}

.item__detail-picture {
    /* display: flex; */
    flex: 1;
    width: 50%;
}

.item-picture {
    width: 100%;
    /* max-height: 500px; */
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: antiquewhite;
}

.item__detail-info {
    flex: 1;
    display: flex;
    /* width: 50%; */
    flex-direction: column; /* ← 縦に並べる */
    gap: 20px;              /* ← 各項目の間の余白（任意） */
}

/* 価格 */
.item__detail-price {
    display: inline;
    font-size: 30px;
}
.tax {
    display: inline;
    font-size: 20px;
}

/*  お気に入り,コメントアイコン */
.item__detail-logo {
    display: flex;
}
.item__detail-logo-heart {
    margin:0 30px;
    text-align: center;
}
.logo-heart {
    display: block;
}
.item__detail-logo-hukidasi {
    margin:0 30px;
    text-align: center;
}
.logo-hukidasi {
    display: block;
}

/* 購入手続きボタン */
.item__detail-button {
    /* margin: 10px; */
    /* padding: 20px auto; */
    height: 40px;
    color: white;
    background-color: red;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* カテゴリー＆状態 */
.item__detail-type {
    margin: 0px;
    padding: 0;
    /* background-color: bisque; */
}
.item__detail-category {
    display: flex;
    font-weight: bold;
}
.category {
    display: flex;
}
.category-name {
    display: flex;
    text-decoration: none;
    background-color: lightgrey;
    margin-left: 20px;
    padding: 0 15px;
    list-style-type: none;
    border-radius: 15px;
    font-weight: normal;
}
.item__detail-condition {
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    /* background-color: azure; */
}
.condition-name {
    display: flex;
    margin-left: 20px;
    font-weight: normal;
}

/* コメント */
.item__detail-commented-title {
    /* font-size: large; */
    color: gray;
    /* margin: 0px; */
    padding: 0;
    /* background-color: aquamarine; */
}
.commented-user {
    /* background-color: beige; */
    margin: 0;
}
.commented-user-picture{
    margin: 5px 10px 10px 0;
    width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: 1px solid darkgray;
    border-radius: 50px;
    /* background-color: antiquewhite; */
}
.commented {
    background-color: lightgray;
    padding: 15px 10px;
    border-radius: 5px;
}

/* コメント送信フォーム */
.comment-body {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.comment-button {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
